In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/challenge-1-beijing.csv')
df.head()

   公交  写字楼  医院  商场  地铁  学校  小区名字  建造时间    房型  楼层  每平米价格   面积
0  18   18  10   0   2  49  远洋山水  2006  2室1厅  26  60937   96
1  17   42  10   0   4  37   椿树园  1998  3室1厅  14  88686  130
2  18   36   9   0   1  24  永乐小区  1989  3室1厅  18  46621   74
3  15   49  13   0   2  45  主语家园  2007  4室3厅   2  86147  462
4   6    0   0   0   0   0  天伦锦城  2007  1室1厅  13  42500   64

In [4]:
df.shape

(3000, 12)

In [17]:
features  = df[['公交','写字楼','医院','商场','地铁','学校','建造时间','楼层','面积']]
target = df['每平米价格']
features.shape, target.shape,

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [9]:
pd.concat([features, target],axis=1).head()  # axis 合并方向

   公交  写字楼  医院  商场  地铁  学校  建造时间  楼层   面积  每平米价格
0  18   18  10   0   2  49  2006  26   96  60937
1  17   42  10   0   4  37  1998  14  130  88686
2  18   36   9   0   1  24  1989  18   74  46621
3  15   49  13   0   2  45  2007   2  462  86147
4   6    0   0   0   0   0  2007  13   64  42500

In [12]:
split_num = int(len(df)*0.7) # 70% 分割数

## 代码开始 ### (≈ 4 行代码)
X_train = features[:split_num]
y_train = target[:split_num]
X_test = features[split_num:]
y_test = target[split_num:]
len(X_train), len(y_train), len(X_test), len(y_test)

(2100, 2100, 900, 900)

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)
model.intercept_,model.coef_

(39758.915194491085,
 array([ 6.59398431e+00,  2.99472651e+02,  3.71604272e+02,  1.23634436e-12,
         1.10348032e+03,  4.89315116e+02, -9.52240497e-01,  1.49901912e+00,
         4.11275632e+01]))

In [16]:
import numpy as np

In [18]:
def mape(y_true, y_pred):

    n = len(y_true)
    mape = 100 * np.sum(np.abs((y_true-y_pred)/y_true)) / n
    ### 代码结束 ###
    
    return mape

In [23]:

y_pred = model.predict(X_test)
mape(y_test, y_pred)

45.5061885467624

In [24]:
from sklearn.metrics import mean_absolute_percentage_error
mean_absolute_percentage_error(y_test, y_pred)

0.455061885467624